body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Courier New', monospace;
  overflow: hidden;
}

#terminal {
  width: 95%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-line {
  display: flex;
  align-items: center;
}

.prompt {
  white-space: nowrap;
}

#output {
  overflow-y: auto;
  margin-bottom: 10px;
}

#input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  flex-grow: 1;
  margin-left: 10px;
}

/* Make sure that the command history text and input prompt are aligned */
#output div, .input-line {
  text-align: left;
}